In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances
import numpy as np
import pandas as pd

In [55]:
s1 = 'the hotdog is very happy'
s2 = 'the hotdog is very happy the hotdog is very happy'
s3 = 'the people ate the hotdog'
s4 = 'taxis usually drive too fast'

corpus = [s1, s2, s3, s4]
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
vectorizer.get_feature_names_out()

array(['ate', 'drive', 'fast', 'happy', 'hotdog', 'is', 'people', 'taxis',
       'the', 'too', 'usually', 'very'], dtype=object)

In [57]:
X.todense()

matrix([[0.        , 0.        , 0.        , 0.48163503, 0.38992506,
         0.48163503, 0.        , 0.        , 0.38992506, 0.        ,
         0.        , 0.48163503],
        [0.        , 0.        , 0.        , 0.48163503, 0.38992506,
         0.48163503, 0.        , 0.        , 0.38992506, 0.        ,
         0.        , 0.48163503],
        [0.49770023, 0.        , 0.        , 0.        , 0.31767561,
         0.        , 0.49770023, 0.        , 0.63535122, 0.        ,
         0.        , 0.        ],
        [0.        , 0.4472136 , 0.4472136 , 0.        , 0.        ,
         0.        , 0.        , 0.4472136 , 0.        , 0.4472136 ,
         0.4472136 , 0.        ]])

In [58]:
cosine = cosine_similarity(X)
cosine_df = pd.DataFrame(cosine, index=['s1', 's2', 's3', 's4'], columns=['s1', 's2', 's3', 's4'])
cosine_df

          s1        s2        s3   s4
s1  1.000000  1.000000  0.371609  0.0
s2  1.000000  1.000000  0.371609  0.0
s3  0.371609  0.371609  1.000000  0.0
s4  0.000000  0.000000  0.000000  1.0

In [59]:
euclidean = euclidean_distances(X)
euclidean_df = pd.DataFrame(euclidean, index=['s1', 's2', 's3', 's4'], columns=['s1', 's2', 's3', 's4'])
euclidean_df

          s1        s2        s3        s4
s1  0.000000  0.000000  1.121063  1.414214
s2  0.000000  0.000000  1.121063  1.414214
s3  1.121063  1.121063  0.000000  1.414214
s4  1.414214  1.414214  1.414214  0.000000