In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances
import numpy as np
import pandas as pd

In [42]:
s1 = 'the hotdog is very happy'
s2 = 'the hotdog is very happy the hotdog is very happy'
s3 = 'the happy people ate the hotdog'
s4 = 'taxis usually drive too fast'

corpus = [s1, s2, s3, s4]
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
vectorizer.get_feature_names_out()

array(['ate', 'drive', 'fast', 'happy', 'hotdog', 'is', 'people', 'taxis',
       'the', 'too', 'usually', 'very'], dtype=object)

In [52]:
cosine = cosine_similarity(X)
cosine_df = pd.DataFrame(cosine, index=['s1', 's2', 's3', 's4'], columns=['s1', 's2', 's3', 's4'])
cosine_df

          s1        s2        s3   s4
s1  1.000000  1.000000  0.492308  0.0
s2  1.000000  1.000000  0.492308  0.0
s3  0.492308  0.492308  1.000000  0.0
s4  0.000000  0.000000  0.000000  1.0

In [53]:
euclidean = euclidean_distances(X)
euclidean_df = pd.DataFrame(euclidean, index=['s1', 's2', 's3', 's4'], columns=['s1', 's2', 's3', 's4'])
euclidean_df

          s1        s2        s3        s4
s1  0.000000  0.000000  1.007662  1.414214
s2  0.000000  0.000000  1.007662  1.414214
s3  1.007662  1.007662  0.000000  1.414214
s4  1.414214  1.414214  1.414214  0.000000